{% extends 'maintheme.html' %}
{% load static %}
{% block bodydata %}
			<!-- Inner Page Main Banner __________________ -->
			<div class="inner-page-banner">
				<div class="opacity">
					<div class="container">
						<h2>ABOUT US</h2>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.inner-page-banner -->


			<!-- Page Breadcrum __________________________ -->
			<div class="page-breadcrum">
				<div class="container">
					<ul>
						<li><a href="index-2.html">Home</a></li>
						<li>-</li>
						<li>About</li>
					</ul>
				</div> <!-- /.container -->
			</div> <!-- /.page-breadcrum -->



			<!-- Welcome Section ___________________________ -->
	        <div class="welcome-section-two">
	        	<div class="container">
	        		<div class="section-title wow fadeInUp">
	        			<h2 class="p-color">Welcome to LATUR EDUCATION HUB CENTER</h2>
	        			<h5>First Time In Latur</h5>
	        		<p style="text-align:left;font-weight:bold;">प्रिय मित्रांनो ,</p>
							<br>
								<p style="color:#000;display:block;padding:16px;border:1px solid #ebebe0;text-align:left;line-height:40px;">
								 विध्यार्थी जीवनात अभ्यास करत असताना येणाऱ्या अडथळ्यांना सामोर जावुन  आपण आपल्या मुख्य ध्येयापासून कितपत दूर गेलो आहोत हे जाणून घेणे खूप महत्वाचे असते .
								परंतु असे न करता आपण मूळ उद्देश सोडून दुसऱ्या गोष्टीच्या मागे लागतो व वेगवेगळ्या पद्धतीने अभ्यास करण्याचा मार्ग शोधत असतो परंतु प्रत्येक वेळी आपण यशस्वी होऊच असे नाही बहुतांश वेळा आपल्या पदरी निराशा येते.  म्हणूनच विद्यार्थ्यांच्या उज्वल भविष्यासाठी राज्यातील प्रथमच असं 'EDUCATION HUB CENTER'
								ची लातूरमध्ये स्थापना करत आहोत . <br>
								तसेच या hub center मध्ये आम्ही विविध उपक्रमांद्वारे विध्यार्थ्यांच्या अभ्यासाची परिपूर्ण तयारी करवून घेणार आहोत . <br> विध्यार्थाना पुस्तक वाचत असताना येणाऱ्या अडचणी तसेच प्रयोगातिल घडणाऱ्या प्रत्यक्ष घडामोडी ,
								परीक्षेत मिळणारे कमी गुण व अपयश आणि शेवटी पालकांची ओरड या सर्व गोष्टी लक्षात घेऊन
								त्यांच्या शँकेच निरसन करणे व मूळ ध्येयापर्यंत  जाण्याचा मार्ग सुलभ व्हावा यासाठी प्रयत्न करणे हे आमच्या hub center चे मुख्य उद्दिष्टे आहे . <br>
								 विध्यार्थ्यांच्या काल्पनिक शक्ती बरोबरच आकलन क्षमतेवर भर देण्यासाठी त्यांना online test series चे देखील नियोजन करत आहोत . <br>
								  बहुतांश विधार्थी हे online परीक्षेचा सराव पेन पेपरच्या साहाय्याने करतात त्यामुळे online परीक्षेत वेळ कसा निघून जातो , याचे समीकरण जुळत नाही व कधी - कधी हाती निराशा येते . <br>
									तसेच प्रत्येक विध्यार्त्यांकडे online परीक्षेसाठी संगणकाची सोय असेलच असे नाही . बहुतांश विध्यार्थी हे सामान्य तसेच ग्रामीण भागातील असल्याने सर्व विध्यार्थाना वेळेचे नियोजन करून online परीक्षेचा सराव करता यावा याकरता online test series चे देखील नियोजन hub center मध्येच करत आहोत .
								  तरी या सर्व सुविधांचा विद्यार्थ्यांनी आपल्या अभ्यासक्रमात समावेश करून , परीक्षेत अधिकाधिक गुण मिळवून आपला खरा latur pattern देशासमोर आणण्याचा आमचा ध्येय आहे .


								</p>
								<br>
								<p style="text-align:right;font-weight:bold;">आपलाच संचालक, <br>
									विकास बी . चव्हाण 
								 <br> (LATUR EDUCATION HUB CENTER, Latur )</p>
	        		</div> <!-- /.section-title -->


	        	</div> <!-- /.container -->
	        </div> <!-- /.welcome-section-two -->





	        <!-- course Progress  __________________________ -->


	        <!-- Our Teacher ________________________ -->


	        <!-- Latest Event Slider Section _______ -->




			<!-- SubsCribe Banner ___________________ -->


	        <!-- Footer ______________________________ -->
	  {% endblock %}


		{% block jquerycode %}
		<script type="text/javascript">
		$(document).ready(function(){

		$('#{{initial}}').addClass("current-page-item");

		});
		</script>
		{% endblock %}
