{% extends 'maintheme.html' %}
{% load static %}

{% block csscode %}
<style media="screen">
  .contactul li span
  {
    margin-right:8px;
    width:42px;
    height:42px;
    background:#edeaea;
    line-height:42px;
    text-align:center;
    display:inline-block;
    vertical-align:middle;
    border-radius:50%;
    box-sizing:border-box;
  }
  .contactul li
  {
  padding:10px;
  }

</style>

{% endblock %}

{% block bodydata %}
<div class="inner-page-banner">
  <div class="opacity">
    <div class="container">
      <h2>Contact</h2>
    </div> <!-- /.container -->
  </div> <!-- /.opacity -->
</div> <!-- /.inner-page-banner -->


<br>
<div class="container">
  <div class="col-md-6 col-sm-6">
    <h4 style="color:#f00;"> {% if request.session.msg %}

      {{request.session.msg}}
          {% endif %}
     </h4>
     <br>
<h3>Contact Us</h3>
<form class="" action="{% url 'savecontact' %}" method="post">
{% csrf_token %}
<div class="form-group">
  <label for="Name">Full Name</label>
  <input type="text" name="fullname" class="form-control" value="">
</div>

<div class="form-group">
  <label for="Name">Email</label>
  <input type="email" name="email" class="form-control" value="">
</div>

<div class="form-group">
  <label for="Name">Mobile No</label>
  <input type="number" name="mob" class="form-control" value="">
</div>

<div class="form-group">
  <label for="Name">Message</label>
  <textarea name="msg" class="form-control"></textarea>
</div>

<div class="">
  <input type="submit" name="" value="Send Message" class="btn btn-lg btn-danger" >
</div>
</form>

  </div>

  <div class="col-md-6 col-sm-6">
    <div >
      <ul class="contactul">
        <li><span ><i class="ficon flaticon-signs"></i></span> <a href="#" class="tran3s">Udhyog Bhavan, Ashtvinayak Temple, Latur</a></li>
        <li><span ><i class="ficon flaticon-multimedia"></i></span> <a href="#" class="tran3s">infolatureduhub@gmail.com</a></li>
        <li><span ><i class="ficon flaticon-technology"></i></span> <a href="#" class="tran3s">+91 8669226860</a></li>
        <li><span ><i class="ficon flaticon-technology"></i></span> <a href="#" class="tran3s">+91 7841009837</a></li>
        <li><span ><i class="ficon flaticon-technology"></i></span> <a href="#" class="tran3s">+91 9226315153</a></li>
        <li><span ><i class="ficon flaticon-technology"></i></span> <a href="#" class="tran3s">+91 8806662930</a></li>
      </ul>
    </div> <!-- /.left-side -->
  </div>

  <div class="col-md-12 col-sm-12">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d946.4962593094668!2d76.56857720237647!3d18.393532120680813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTjCsDIzJzM1LjQiTiA3NsKwMzQnMDcuOCJF!5e0!3m2!1sen!2sin!4v1548231360713" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>



{% endblock %}

{% block jquerycode %}
<script type="text/javascript">
$(document).ready(function(){

$('#{{initial}}').addClass("current-page-item");

});
</script>
{% endblock %}
