{% extends 'maintheme.html' %}

{% load static %}

{% block csscode %}
<style media="screen">
#g img{
		height:260px;
		width:100%;
		}
</style>
{% endblock %}
{% block bodydata %}

			<!-- Inner Page Main Banner __________________ -->
			<div class="inner-page-banner">
				<div class="opacity">
					<div class="container">
						<h2>Gallery</h2>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.inner-page-banner -->


			<!-- Page Breadcrum __________________________ -->
			<div class="page-breadcrum">
				<div class="container">
					<ul>
						<li><a href="{% url 'index' %}">Home  </a></li>
						<li>-</li>
						<li>Gallery</li>
					</ul>
				</div> <!-- /.container -->
			</div> <!-- /.page-breadcrum -->



			<!-- Event Section _______________________ -->
	        <div class="event-section wow fadeInUp">
	        	<div class="container">
	        		<div class="row" id="g">

								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
									<div class="single-event theme-bg-color">
										<img src=" {% static 'images/new/IMG-20190215-WA0032.jpg' %}" alt="Image">
									</div> <!-- /.single-event -->
								</div>

								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
									<div class="single-event theme-bg-color">
										<img src=" {% static 'images/new/IMG-20190215-WA0031.jpg' %}" alt="Image">
									</div> <!-- /.single-event -->
								</div>


								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
									<div class="single-event theme-bg-color">
										<img src=" {% static 'images/new/IMG-20190131-WA0007.jpg' %}" alt="Image">
									</div> <!-- /.single-event -->
								</div>

								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
									<div class="single-event theme-bg-color">
										<img src=" {% static 'images/new/IMG-20190131-WA0008.jpg' %}" alt="Image">
									</div> <!-- /.single-event -->
								</div>

								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
									<div class="single-event theme-bg-color">
										<img src=" {% static 'images/new/IMG-20190131-WA0009.jpg' %}" alt="Image">
									</div> <!-- /.single-event -->
								</div>

								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
									<div class="single-event theme-bg-color">
										<img src=" {% static 'images/new/IMG-20190131-WA0015.jpg' %}" alt="Image">
									</div> <!-- /.single-event -->
								</div>

								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
									<div class="single-event theme-bg-color">
										<img src=" {% static 'images/new/IMG-20190131-WA0016.jpg' %}" alt="Image">
									</div> <!-- /.single-event -->
								</div>


	        			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
	        				<div class="single-event theme-bg-color">
	        					<img src=" {% static 'images/new/41752078_ML.jpg' %}" alt="Image">
	        				</div> <!-- /.single-event -->
	        			</div>

	        			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
									<div class="single-event theme-bg-color">
	        					<img src=" {% static 'images/new/53166094.jpg' %}" alt="Image">
	        				</div> <!-- /.single-event -->
	        			</div>

	        			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
									<div class="single-event theme-bg-color">
	        					<img src=" {% static 'images/new/sakthimicro-system-computer-training-center.png' %}" alt="Image">
	        				</div> <!-- /.single-event -->
	        			</div>

	        			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
									<div class="single-event theme-bg-color">
	        					<img src=" {% static 'images/new/Test-Anxiety-Learning-Disorder-1.jpg' %}" alt="Image">
	        				</div> <!-- /.single-event -->
	        			</div>

	        			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
									<div class="single-event theme-bg-color">
	        					<img src=" {% static 'images/new/images(27).jpeg' %}" alt="Image">
	        				</div> <!-- /.single-event -->
	        			</div>

	        			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
									<div class="single-event theme-bg-color">
	        					<img src=" {% static 'images/new/images(20).jpeg' %}" alt="Image">
	        				</div> <!-- /.single-event -->
	        			</div>

	        			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
									<div class="single-event theme-bg-color">
	        					<img src=" {% static 'images/new/ebooks-laptop.jpg' %}" alt="Image">
	        				</div> <!-- /.single-event -->
	        			</div>




	        	</div> <!-- /.container -->
	        </div> <!-- /.event-section -->
				</div>

{% endblock %}


{% block jquerycode %}
<script type="text/javascript">
$(document).ready(function(){
$('img').click(function(){

	var img = $(this).attr('src');
	alert(img);
});

$('#{{initial}}').addClass("current-page-item");

});
</script>
{% endblock %}
