{% extends 'maintheme.html' %}

{% load static %}

{% block bodydata %}

			<!-- Inner Page Main Banner __________________ -->
			<div class="inner-page-banner">
				<div class="opacity">
					<div class="container">
						<h2>Gallery</h2>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.inner-page-banner -->


			<!-- Page Breadcrum __________________________ -->
			<div class="page-breadcrum">
				<div class="container">
					<ul>
						<li><a href="{% url 'index' %}">Home  </a></li>
						<li>-</li>
						<li>Gallery</li>
					</ul>
				</div> <!-- /.container -->
			</div> <!-- /.page-breadcrum -->



			<!-- Event Section _______________________ -->
	        <div class="event-section wow fadeInUp">
	        	<div class="container">
	        		<div class="row">
	        			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
	        				<div class="single-event theme-bg-color">
	        					<img src=" {% static 'images/home/1.jpg' %}" alt="Image">
	        				</div> <!-- /.single-event -->
	        			</div>

	        			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
									<div class="single-event theme-bg-color">
	        					<img src=" {% static 'images/home/1.jpg' %}" alt="Image">
	        				</div> <!-- /.single-event -->
	        			</div>

	        			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
									<div class="single-event theme-bg-color">
	        					<img src=" {% static 'images/home/1.jpg' %}" alt="Image">
	        				</div> <!-- /.single-event -->
	        			</div>

	        			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
									<div class="single-event theme-bg-color">
	        					<img src=" {% static 'images/home/1.jpg' %}" alt="Image">
	        				</div> <!-- /.single-event -->
	        			</div>

	        			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
									<div class="single-event theme-bg-color">
	        					<img src=" {% static 'images/home/1.jpg' %}" alt="Image">
	        				</div> <!-- /.single-event -->
	        			</div>

	        			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
									<div class="single-event theme-bg-color">
	        					<img src=" {% static 'images/home/1.jpg' %}" alt="Image">
	        				</div> <!-- /.single-event -->
	        			</div>

	        			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
									<div class="single-event theme-bg-color">
	        					<img src=" {% static 'images/home/1.jpg' %}" alt="Image">
	        				</div> <!-- /.single-event -->
	        			</div>


	        	</div> <!-- /.container -->
	        </div> <!-- /.event-section -->
				</div>

{% endblock %}


{% block jquerycode %}
<script type="text/javascript">
$(document).ready(function(){
$('img').click(function(){

	var img = $(this).attr('src');
	alert(img);
});

$('#{{initial}}').addClass("current-page-item");

});
</script>
{% endblock %}
