{% extends 'maintheme.html' %}
{% load static %}

{% block csscode %}
<style media="screen">
  #b
  {
    background:#f00;
    color:#fff;
  }
  #b:hover{
border-radius:15px;
font-weight:bold;
  }
</style>

{% endblock %}

{% block bodydata %}
<div class="inner-page-banner">
  <div class="opacity">
    <div class="container">
      <h2>Registration</h2>
    </div> <!-- /.container -->
  </div> <!-- /.opacity -->
</div> <!-- /.inner-page-banner -->


<br>
<form class="" action="{% url 'savestudent' %}" method="POST">
  {% csrf_token %}
<div class="container">
  <div class="col-md-6 col-sm-6">
<h3>Registration Form</h3>
<br>

<div class="form-group">
  <label for="Name">Full Name</label>
  <input type="text" name="fullname" class="form-control"  >
</div>

<div class="form-group">
  <label for="Name">Applied For</label>
<select class="form-control" name="appliedfor" id="appliedfor" onchange="check();">
  <option  >---Select---</option>
  <option value="11">11 <sup>th</sup> (Science)</option>
  <option value="12">12 <sup>th</sup> (Science)</option>
  <option>MPSC</option>
  <option>UPSC</option>
  <option>MBA</option>
  <option>Diploma</option>
  <option>Engineering</option>
  <option>STI</option>
  <option>PSI</option>
  <option>ASP</option>
  <option>MPSC-CLERK</option>
  <option>BCA</option>
  <option>MCA</option>
  <option>TAX ASSISTMENT</option>
  <option>GOVT. PHARMACIST </option>
  <option>ASP</option>
  <option>RRB </option>
  <option>POLICE CONSTABLE</option>
  <option>NIPER</option>
  <option>GPAT </option>
  <option>GATE</option>
  <option>ASO</option>
  <option>NEET</option>
  <option>AIIMS</option>
  <option>सरळ सेवा भरती </option>

</select>
</div>
<div class="form-group">
  <label for="Name">Date Of Birth</label>
  <input type="date" name="dob" class="form-control"  >
</div>

<div class="form-group">
  <label for="Name">Gender</label> &nbsp;&nbsp;&nbsp;&nbsp;
  <input type="radio" name="gender" value="male" checked> Male &nbsp;<input type="radio" name="gender" value="female"> Female
</div>

<div class="form-group">
  <label for="Name">Contact 1</label>
  <input type="number" name="mob1" class="form-control"  >
</div>

<div class="form-group">
  <label for="Name">Contact 2</label>
  <input type="number" name="mob2" class="form-control"  >
</div>




  </div>

<div class="col-md-6 col-lg-6 col-sm-6">
  <br><br>
  <div class="form-group">
    <label for="Name">District</label>
    <select class="form-control" name="district" >
      <option >---Select---</option>
      <option  >Akola</option>
      <option  >Amravati</option>
      <option  >Buldana</option>
      <option  >Yavatmal</option>
      <option  >Washim</option>
      <option  >Aurangabad</option>
      <option  >Beed</option>
      <option  >Jalna</option>
      <option  >Osmanabad</option>
      <option  >Nanded</option>
      <option  >Latur</option>
      <option  >Parbhani</option>
      <option  >Hingoli</option>
      <option  >Mumbai City</option>
      <option  >Mumbai Suburban</option>
      <option  >Thane</option>
      <option  >Palghar</option>
      <option  >Raigad</option>
      <option  >Ratnagiri</option>
      <option  >Sindhudurg</option>
      <option  >Bhandara</option>
      <option  >Chandrapur</option>
      <option  >Gadchiroli</option>
      <option  >Gondia</option>
      <option  >Nagpur</option>
      <option  >Wardha</option>
      <option  >Ahmednagar</option>
      <option  >Dhule</option>
      <option  >Jalgaon</option>
      <option  >Nandurbar</option>
      <option  >Nashik</option>
      <option  >Kolhapur</option>
      <option  >Pune</option>
      <option  >Sangli</option>
      <option  >Satara</option>
      <option  >Solapur</option>
      </select>
  </div>

  <div class="form-group">
    <label for="Name">Address</label>
    <textarea name="address" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label for="Name">Applied For Course Programme</label>
    <select class="form-control" name="apppliedprogram" id="apppliedprogram" onchange="check();">
      <option  >---Select---</option>
      <option value="e-learning">E-Learning</option>
      <option >Test Series</option>
      <option value="Combo">Combo (E-learning + Test Series)</option>
    </select>
  </div>

  <div class="form-group">
    <label for="Name">Duration Of Programme</label>
    <select class="form-control" name="durationofprogram" >
      <option  >---Select---</option>
      <option id="hr1"  >1HR</option>
      <option >2HR</option>
      <option >3HR</option>
    </select>
  </div>

  <div class="form-group">
    <label for="Name">Duration Of Month</label>
    <select class="form-control" name="durstionofmonth" >
      <option  >---Select---</option>
      <option id="m1"  >1 Month</option>
      <option  >2 Month</option>
      <option  >3 Month</option>
    </select>
  </div>
<br>
  <div class="">
    <input type="submit" name="" value="Register" id="b" class="btn btn-lg btn-danger" >
  </div>
</div>

</div>

</form>
<br><br>
{% endblock %}

{% block jquerycode %}
<script type="text/javascript">
$(document).ready(function(){

$('#{{initial}}').addClass("current-page-item");

});

function check(){
  // alert('hello');
var appliedfor = $('#appliedfor').val();
var course = $('#course').val();

if((appliedfor == "11" || appliedfor == "12")){

  if(course == "e-learning")
  {

  }
  else{
    $('#hr1').remove();
    $('#m1').remove();
  }
// alert('Allow');
}

}
</script>
{% endblock %}
