{% extends 'maintheme.html' %}
{% load static %}

{% block csscode %}
<style media="screen">
  #b
  {
    background:#f00;
    color:#fff;
  }
  #b:hover{
border-radius:15px;
font-weight:bold;
  }
</style>

{% endblock %}

{% block bodydata %}
<div class="inner-page-banner">
  <div class="opacity">
    <div class="container">
      <h2>Registration</h2>
    </div> <!-- /.container -->
  </div> <!-- /.opacity -->
</div> <!-- /.inner-page-banner -->


<br>
<form class="" action="#" method="post">
<div class="container">
  <div class="col-md-6 col-sm-6">
<h3>Registration Form</h3>
<br>

<div class="form-group">
  <label for="Name">Full Name</label>
  <input type="text" name="fullname" class="form-control" value="">
</div>

<div class="form-group">
  <label for="Name">Applied For</label>
<select class="form-control" name="appliedfor" id="appliedfor" onchange="check();">
  <option value="">---Select---</option>
  <option value="11">11 <sup>th</sup> (Science)</option>
  <option value="12">12 <sup>th</sup> (Science)</option>
  <option>MPSC</option>
  <option>UPSC</option>
  <option>MBA</option>
  <option>Diploma</option>
  <option>Engineering</option>
  <option>STI</option>
  <option>PSI</option>
  <option>ASP</option>
  <option>MPSC-CLERK</option>
  <option>BCA</option>
  <option>MCA</option>
  <option>TAX ASSISTMENT</option>
  <option>GOVT. PHARMACIST </option>
  <option>ASP</option>
  <option>RRB </option>
  <option>POLICE CONSTABLE</option>
  <option>NIPER</option>
  <option>GPAT </option>
  <option>GATE</option>
  <option>ASO</option>
  <option>NEET</option>
  <option>AIIMS</option>
  <option>सरळ सेवा भरती </option>

</select>
</div>
<div class="form-group">
  <label for="Name">Date Of Birth</label>
  <input type="date" name="dob" class="form-control" value="">
</div>

<div class="form-group">
  <label for="Name">Gender</label> &nbsp;&nbsp;&nbsp;&nbsp;
  <input type="radio" name="gender" value="male" checked> Male &nbsp;<input type="radio" name="gender" value="female"> Female
</div>

<div class="form-group">
  <label for="Name">Contact 1</label>
  <input type="number" name="mob" class="form-control" value="">
</div>

<div class="form-group">
  <label for="Name">Contact 2</label>
  <input type="number" name="mob1" class="form-control" value="">
</div>




  </div>

<div class="col-md-6 col-lg-6 col-sm-6">
  <br><br>
  <div class="form-group">
    <label for="Name">District</label>
    <select class="form-control" name="District" >
      <option value="">---Select---</option>
      <option value="">Akola</option>
      <option value="">Amravati</option>
      <option value="">Buldana</option>
      <option value="">Yavatmal</option>
      <option value="">Washim</option>
      <option value="">Aurangabad</option>
      <option value="">Beed</option>
      <option value="">Jalna</option>
      <option value="">Osmanabad</option>
      <option value="">Nanded</option>
      <option value="">Latur</option>
      <option value="">Parbhani</option>
      <option value="">Hingoli</option>
      <option value="">Mumbai City</option>
      <option value="">Mumbai Suburban</option>
      <option value="">Thane</option>
      <option value="">Palghar</option>
      <option value="">Raigad</option>
      <option value="">Ratnagiri</option>
      <option value="">Sindhudurg</option>
      <option value="">Bhandara</option>
      <option value="">Chandrapur</option>
      <option value="">Gadchiroli</option>
      <option value="">Gondia</option>
      <option value="">Nagpur</option>
      <option value="">Wardha</option>
      <option value="">Ahmednagar</option>
      <option value="">Dhule</option>
      <option value="">Jalgaon</option>
      <option value="">Nandurbar</option>
      <option value="">Nashik</option>
      <option value="">Kolhapur</option>
      <option value="">Pune</option>
      <option value="">Sangli</option>
      <option value="">Satara</option>
      <option value="">Solapur</option>
      </select>
  </div>

  <div class="form-group">
    <label for="Name">Address</label>
    <textarea name="name" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label for="Name">Applied For Course Programme</label>
    <select class="form-control" name="course" id="course" onchange="check();">
      <option value="">---Select---</option>
      <option value="e-learning">E-Learning</option>
      <option value="">Test Series</option>
      <option value="Combo">Combo (E-learning + Test Series)</option>
    </select>
  </div>

  <div class="form-group">
    <label for="Name">Duration Of Programme</label>
    <select class="form-control" name="District" >
      <option value="">---Select---</option>
      <option id="hr1" value="">1HR</option>
      <option value="">2HR</option>
      <option value="">3HR</option>
    </select>
  </div>

  <div class="form-group">
    <label for="Name">Duration Of Month</label>
    <select class="form-control" name="District" >
      <option value="">---Select---</option>
      <option id="m1" value="">1 Month</option>
      <option value="">2 Month</option>
      <option value="">3 Month</option>
    </select>
  </div>
<br>
  <div class="">
    <input type="submit" name="" value="Register" id="b" class="btn btn-lg btn-danger" >
  </div>
</div>

</div>

</form>
<br><br>
{% endblock %}

{% block jquerycode %}
<script type="text/javascript">
$(document).ready(function(){

$('#{{initial}}').addClass("current-page-item");

});

function check(){
  // alert('hello');
var appliedfor = $('#appliedfor').val();
var course = $('#course').val();

if((appliedfor == "11" || appliedfor == "12")){

  if(course == "e-learning")
  {

  }
  else{
    $('#hr1').remove();
    $('#m1').remove();
  }
// alert('Allow');
}

}
</script>
{% endblock %}
